* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.insta_h1 {
  text-align: center;
  /* margin-top: 1vw; */
  color: #000;
}

body {
  height: 100%;
  width: 100%;
  /* background-color: lightseagreen; */

  background-size: 100% 100%;
}
#container {
  height: 100vh;
  width: 100vw;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#content {
  padding-top: 1vw;
  border-radius: 1vw;
  margin-top: 1vw;
  height: 85vh;
  width: 30vw;
  display: flex;
  background-color: #000;
  flex-direction: column;
}
/* 
.heart-doble {
  position: absolute;
  left: 50vw;
  bottom: 20vw;
  font-size: 4vw;
  z-index: 10;
  color: red;
} */

.usernameCon {
  margin-top: 1vw;
  height: 3.5vw;
  display: flex;
  align-items: center;
  width: 90%;
}
.userinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usernameCon img {
  height: 3vw;
  width: 3vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#FollowBtn {
  background-color: #000;
  border: none;
  color: #0093e9;

  font-size: 1.5vw;
  font-weight: 600;
  height: 2.5vw;
  width: 7vw;
}
.flowPOst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.user_name {
  color: #ffffff;
  font-size: 1vw;
  margin-left: 1vw;
}
.Posts_heading {
  color: #ffffff;
  font-size: 2vw;
  margin-left: 1vw;
}
#icone_con {
  color: #ffffff;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  margin-left: 1vw;
  align-items: center;
}

.image_con {
  /* border: 1px solid black; */
  width: 100%;
  height: 58vh;
}
.image_con img {
  height: 100%;
  width: 100%;
}
#icone_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4vw;
  height: 4vw;
  border-radius: 1vw;
  width: 100%;
  color: white;
}
.frist_icone i {
  margin-left: 1vw;
  font-size: 1.5vw;
}
.second_icone i {
  margin-right: 1vw;
  margin-left: 0.5vw;
  font-size: 1.5vw;
}
.object_content {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 30vw;
  left: 60vw;
  top: 13vw;
  background-color: black;
  height: 10vw;
  width: 8vw;
  display: none;
}
.double {
  position: absolute;
  top: 25vw;
  bottom: 50vw;
  left: 50vw;
  transition: all ease-in 10s;
  display: none;
}
.double i {
  color: white;
  font-size: 4vw;
  color: red;
  opacity: 0.8;
}

.double-hide {
  display: inline;
}

ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 15px;
  list-style: none;
  flex-direction: column;
  background-color: #000;
}
.ul button {
  color: white;
}

.iconeBtn {
  height: 2vw;
  width: 100%;
  padding-left: 0.5vw;
  background-color: black;
  border: none;
  color: white;
}
.iconeBtn i {
  float: left;
}
.hide {
  display: inline;
}
i {
  cursor: pointer;
}

.heart {
  color: red;
}

@media (max-width: 800px) {
  .container {
    height: 100vh;
    width: 100vw;
  }

  #content {
    /* margin-top: 6vw; */
    height: 80vh;
    width: 90vw;
  }
  .flowPOst {
    height: 10vw;
  }
  .Posts_heading {
    font-size: 5vw;
  }
  #FollowBtn {
    margin-right: 8vw;
    height: 10vw;
    width: 15vw;
    font-size: 6vw;
  }
  .usernameCon {
    /* margin-right: 5vw; */
    height: 10vw;
    width: 90vw;
  }
  .usernameCon img {
    margin-left: 2vw;
    height: 9vw;
    width: 9vw;
  }
  .user_name {
    font-size: 4vw;
    margin-left: 3vw;
  }
  .image_con {
    height: 90vw;
  }
  #icone_content {
    margin-top: 3vw;
    height: 40vw;
  }
  .frist_icone i {
    margin-left: 2vw;
    font-size: 4vw;
  }
  .second_icone i {
    margin-left: 2vw;
    font-size: 4vw;
  }
  #icone_con {
    font-size: 4vw;
    margin-left: 30vw;
  }
  .double {
    position: absolute;
    top: 100vw;
    left: 40vw;
    /* display: inline; */
  }
  .double i {
    font-size: 20vw;
  }
  .object_content {
    position: absolute;
    right: 30vw;
    left: 65vw;
    top: 77vw;
    background-color: black;
    height: 35vw;
    width: 25vw;
  }
}
